.color-palette{
    width: 340px;
    margin-left: 18px;
    margin-top: 45px;
    height: 150px;
    position: fixed;
    background-color: white;
    z-index: 2;
    border-radius: 0 0 6px 6px;
}

.color-palette-container{
    background-color: white;
    height: 60px;
    margin-top: 30px;
    margin-left: 45px;
    display: grid;
    grid-template-columns: repeat(6, 50px);
    row-gap: 28px;
}

.color-palette-span{
    width: 16px;
    height: 16px;
    outline: 1px solid lightgrey;
    display: block;
    border-radius: 16px;
    border: 2px solid white;
}

.clicked {
    outline: 2px solid black;
}

.color-palette-clear-all{
    font-size: 14px;
    line-height: 30px;
    text-align: center;

    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;border-radius: 6px;
    border: 1px solid lightgrey;
}